@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: white !important;
}

input[data-placeholder]::before {
  content: attr(data-placeholder);
  position: absolute;
  pointer-events: none;
  color: red;
}
